// Google Fonts
$site-title-font: "Arial Black", sans-serif;


.navbar {
  .site-title {
    font-family: $site-title-font;
    font-size: 30px;
    color: #aaa;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .menu {
    .menu-toggle {
      &:hover {
        color:grey;
        font-size: 30px;
      }
      cursor: pointer;
      font-family: $site-title-font;
      font-size: 27px;
      color: #aaa;
      float: right;
      .toggle-close {
        color:grey;
        font-size: 30px;
      }


    }
    .menu-options {
      height: 100px;
      width: 100%;
      background-color: white;
      margin-top: 34px;
      list-style: none;
      padding-top: 20px;
    }
    position: absolute;
    left: 210;
    top: 20;
    width: 130px;
  }
  .auth-panel {
    a {
      padding-right: 10px;
    }
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
    position: relative;
    bottom: 20px;
    padding-bottom: 60px;
}
